PORT=3000
FRONTEND_BUILD_DIR=.output/public
FRONTEND_BASE_PATH=/
SQLITE_DB_PATH=data/notes.sqlite
BEDROCK_AWS_REGION=us-east-1
BEDROCK_AWS_ACCESS_KEY_ID=
BEDROCK_AWS_SECRET_ACCESS_KEY=
BEDROCK_AWS_SESSION_TOKEN=
BEDROCK_MODEL_ID=anthropic.claude-3-5-sonnet-20240620-v1:0
